* {
    margin: 0;
    padding: 0;
}


.menu {
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 50px;
}

.quadrado {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 50px;
    background-color: red;
}

.circulo {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
}

p {
    margin: 20px;
    padding: 40px;
    border: 1px solid black;
}