.content {
    position: relative;
    padding: 20px;
    margin: 30px;
    border: 2px solid red;
    height: 50vh;
}

.quadrado {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: blue;
}