::selection {
    color: red;
    background: black;
}

h1::before {
    background: url(https://cdn-icons-png.flaticon.com/512/2991/2991148.png);
    background-size: cover;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

h1::after {
    background: url(https://cdn-icons-png.flaticon.com/512/2991/2991148.png);
    background-size: cover;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

p::first-letter {
    color: green;
    font-size: 50px;
}

p::first-line {
    color: red;
}