* {
    box-sizing: border-box;
}


.container > div {
    padding: 10px;
    width: 200px;
    height: 200px;
    color: white;
}

.container  {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exemplo1 {
    background-color: yellow;
    overflow: hidden;
}

.exemplo2 {
    background-color: red;
    overflow: scroll;
}

.exemplo3 {
    background-color: green;
    overflow: scroll;
    overflow-x: hidden;
}

.exemplo4 {
    background-color: blue;
    overflow: scroll;
    overflow-y: hidden;
}

.exemplo5 {
    background-color: blueviolet;
    overflow: auto;
}