body {
    background: rgb(0, 0, 0);
    color: green;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin: 30px 0 30px 0;
}

.foto-perfil {
    width: 250px;
    border-radius: 50%;
    border: 2px solid white;
}

h1 {
    font-family: 'VT323', monospace;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 65px;
}

h2 {
    margin: 0 auto;
    padding: 5px 0px;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    width: 620px;
    letter-spacing: 1px;
    
}

.social-links {
    text-decoration: none;
}

.social-icons {
    margin-top: 30px;
    width: 40px;
}

.instagram {
    margin: 0 30px 0 30px;
}

h3 {
    font-size: 43px;
    font-family: 'VT323', monospace;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    margin: 20px 0 0 20px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}

ul {
    font-size: 18px;
    color: white;
}

h4 {
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
}

h5 {
    font-family: 'VT323', monospace;
    font-size: 28px;
    font-style: italic;
    color: green;
    font-weight: 100;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

.footer {
    font-family: 'VT323', monospace;
    font-size: 25px;
    background: green;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px;
}