body {
   background: rgb(176, 176, 176);
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(60, 60, 60);
}

.foto-perfil {
    width: 250px;
    margin:30px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px black;
}

h1 {
    margin-bottom: 5px;
    color: black;
    letter-spacing: -1px;
}

h2 {
    margin-top:0 ;
    font-weight: 100;
    font-style: italic;
    letter-spacing: -1px;
}