body {
    margin: 100px;
}

.box {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: black;

    animation: minhaAnimacao;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 1000ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes minhaAnimacao {
    0%{
        background-color: black;
    }

    35% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
        transform: rotate(360deg);
    }
}
