* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    text-align: center;
    padding: 35px 0;
    background-color: #4ac1f5;
}

.header .logo {
    width: 220px;
}

.container {
    display: flex;
}

.navbar {
    padding: 20px;
    width: 15%;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    text-decoration: none;
    background-color: #4ac1f5;;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    
}

.content {
    width: 85%;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: #d8f3ff;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.footer {
    background-color: #d8f3ff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: -113px;
}