.container {
    background-color: silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}