.exemplo {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

.exemplo1 p.red {
    color: red;
}

.margin {
    margin: 50px;
}

h1,h2,h3 {
    color: blue;
}

.exemplo2 > p {
    color: green;
}

.exemplo3 + p {
    color: rgb(255, 128, 0);
}

.exemplo4 ~ p {
    color: brown;
}