* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.header {
    background-color: grey;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
}

.container {
    display: flex;
}

.navbar {
    width: 30%;
    background-color: #a3a3a3;
    padding: 30px;
}

.content {
    width: 70%;
    background-color: #e2e1e1;
    padding: 30px;
}

.content img {
    width: 30%;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
}
