body {
   background: rgb(176, 176, 176);
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(60, 60, 60);
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.foto-perfil {
    width: 250px;
    margin:30px 30px 0 30px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    letter-spacing: -1px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top:0 ;
    font-weight: 100;
    font-style: italic;
    letter-spacing: -1px;
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 30px;
}

.instagram {
    margin: 0 15px;
}