body {
    margin: 100px;
}

.box {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: black;

    /* transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0, 0.88);
    transition-delay: 300ms; */

    transition: all 500ms cubic-bezier(0, 0, 0, 0.88) 300ms;
}

.box:hover {
    background-color: red;
    width: 400px;
}