body {
    background-color: black;
    color: white;
}

@media (max-width: 400px) {
    body {
        background-color: blue;
        color: red;
        text-align: center;
    }

    img {
        width: 70%;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    body {
        background-color: green;
        color: black;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    body {
        background-color: yellow;
        color: blue;
    }
}