body {
    margin: 100px;
}

.box, .box2, .box3 {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: black;
    transition-duration: 500ms;
}

.box:hover {
    background-color: red;
    width: 400px;
    transform: translate(0px, 100px);
}

.box2:hover {
    background-color: blue;
    transform: rotate(360deg);
}

.box3:hover {
    background-color: green;
    transform: scale(2,2);
}
