body {
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 40%; */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: rgb(60, 60, 60);
}