body {
   background: rgb(176, 176, 176);
}

.foto-perfil {
    width: 250px;
    margin:30px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

p {
    color: rgb(60, 60, 60);
}