body {
    margin: 30px 0;
}

input {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}

button {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}