h1 {
    color: var(--color-primary);
}

h2 {
    color: var(--color-secondary);
    margin: var(--spacing);
}

h3 {
    color: var(--color-primary);
}

p {
    color: var(--color-secondary);
}

button {
    background-color: var(--color-primary);
    margin: var(--spacing);
}