:root {
    font-size: 20px;
}

body {
    font-size: 15px;
}

.box {
    background-color: black;
    height: 100vh;
}

p {
    font-size: 2em;
}

p:nth-child(3){
    font-size: 2rem;
}